#friendCard {
    /* border: 1px solid red; */
    border-radius: 0.5em;
    display: flex;
    flex-direction: row;
    margin: 0.5em;
    width: 50vh;
}

#profileImage {
    margin: 0.5em;
}

.text {
    font-size: 0.6em;
}

#deleteFriend {
    background: crimson;
    color: white;
    border-radius: 0.5em;
    font-size: 0.6em;
    padding: 0.5em;
}

.marginOne {
    margin: 1.0em;
}

.flex-row {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
