#postContainer {
    border: 1px solid gray;
    border-radius: 0.5em;
    margin: 0.5em;
}

.postText {
    font-size: 1.0rem;
}

.marginOne {
    margin: 1.0em;
}

.flex-row {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}